name: my-site

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Publish site
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Build and Deploy
        uses: shalzz/zola-deploy-action@v0.17.2
        env:
          BUILD_DIR: my-site
          PAGES_BRANCH: gh-pages
          BUILD_FLAGS: --drafts
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}